@charset"utf-8";

@-ms-viewport {
    /*this supposedly fixes it for win mob 8*/
    width: device-width;
}
body, html {
    height: 100%;
    width: 100%;
}
body {
    background: rgba(62, 71, 157, 0.05);
    font-family: "Roboto Slab";
    font-weight: 300;
}
path, rect, circle {
    fill: none;
    stroke: none;
    pointer-events: all;
}
path:hover, rect:hover {
    fill: rgba(255, 210, 0, 0.3);
    stroke: rgba(255, 210, 0, 1);
}
dd {
    padding-left: 3em;
    widows: 3;
    orphans: 2;
}
dt::after {
    content: ": ";
}
.highlighted {
    border: 1px solid red;
    color: red;
}
.items {
    -webkit-column-width: 20em;
    -moz-column-width: 20em;
    -o-column-width: 20em;
    column-width: 20em;
    z-index: 500;
}
.interview {
    margin-top: 3em;
    padding-top: 2em;
    border-top: 1px solid silver;
}
.portrait {
    margin-top: 3em;
}
.kit-grid {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
}
.svg-container {
    display: inline-block;
    width: 100%;
    padding-bottom: 80%;
}
.person {
    position: relative;
}
svg {} .this-item {
    position: absolute;
    right: 0;
    top: 0;
    width: 28%;
    padding: 1em;
    padding-top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0 0 0 1.5em;
    p {
        line-height: 1.7em;
    }
    h1 {
        font-size: 130%;
    }
}
// front page
.photo-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-top: 3em;
    margin-bottom: 3em;
    .photo{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 0;
        -ms-flex: 0 0;
        flex-shrink: 0;
        -webkit-flex-basis: 200px;
        -ms-flex: 0 1 200px;
        flex-basis: 200px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        height: 200px;
        background-size: cover;
        cursor: pointer;
    }
}

@media (orientation: portrait) and (max-width: 700px) {
    /*this is to put the single item under the image
  on small portrait screens*/
    header {
        background-color: blue;
        h1 {
            font-size: 16px;
        }
    }
    .jumbotron {
        padding: 0.5em;
        margin-bottom: 0;
    }
    .this-item {
        position: initial;
        width: 100%;
        background-color: transparent;
        border-radius: 0;
        p {} h1 {}
    }
    .person {
        display: flex;
        flex-direction: column;
        /* stack vertically */
        flex-wrap: nowrap;
        /* all in one column */
        align-items: center;
        /* horizontally centered */
    }
    .svg-container {
        order: 0;
        position: relative;
    }
    .this-item {
        order: -1; /* put back on top */
        height: 21em;
    }
    .person > .row {
        order: 2;
    }
}
