@-ms-viewport {
  /*this supposedly fixes it for win mob 8*/
  width: device-width; }
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
  position: relative;
  font-weight: 300;
  font-family: "Glegoo"; }

path, rect, circle {
  fill: none;
  stroke: none;
  pointer-events: all; }

path:hover, rect:hover {
  fill: rgba(255, 210, 0, 0.3);
  stroke: #ffd200; }

a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: burlywood; }
  a:hover {
    border-bottom-color: #c88937;
    border-bottom-width: 5px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7); }
  a:visited {
    border-bottom-color: #f4e7d7;
    border-bottom-width: 2px; }

dd {
  padding-left: 0;
  widows: 3;
  orphans: 2; }

dt, h1 {
  font-family: "Oswald"; }

dt {
  margin-top: 0.3em; }

dt::after {
  content: ": "; }

nav {
  height: 100%;
  width: 80%;
  background-color: white;
  position: absolute;
  left: -80%;
  z-index: 500;
  bottom: 0;
  padding-top: 6em;
  overflow-y: auto;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.5);
  transition: all 0.2s ease; }
  nav img {
    width: 100%; }
  nav ul {
    list-style-type: none;
    padding-left: 0; }
  nav li {
    width: 90%;
    margin: 1em;
    height: 100px;
    overflow: hidden;
    position: relative; }
    nav li h2 {
      bottom: 0;
      right: 0;
      position: absolute;
      margin: 0;
      padding: 0.5em;
      background-color: rgba(0, 0, 0, 0.6);
      font-size: 135%;
      color: white; }
    nav li:first-child {
      height: 200px;
      border: 1px dashed silver; }
      nav li:first-child h2 {
        display: none; }
      nav li:first-child p {
        text-align: center;
        margin-top: 2em;
        font-size: 2em; }

#svg {
  position: relative; }

#portrait {
  margin-bottom: 2em; }

.highlighted {
  border: 1px solid red;
  color: red; }

#items {
  margin: 1em;
  margin-bottom: 5em;
  -webkit-column-width: 20em;
  -moz-column-width: 20em;
  -o-column-width: 20em;
  column-width: 20em;
  z-index: 500; }

.interview {
  margin-top: 3em; }

#interview {
  margin-left: 1em;
  margin-right: 1em; }

.portrait {
  margin-top: 3em; }

.kit-grid {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit; }

.svg-container {
  display: inline-block;
  width: 100%; }

.person {
  position: relative; }

.this-item {
  margin-left: 1em;
  margin-right: 1em; }
  .this-item p {
    line-height: 1.7em; }
  .this-item h1 {
    font-size: 130%; }

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  margin: 0; }

.nav-visible {
  left: 0;
  -webkit-box-shadow: 5px 0px 20px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 5px 0px 20px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 5px 0px 20px 0px rgba(50, 50, 50, 0.5); }

.head {
  height: 3em;
  background-color: burlywood;
  color: white;
  padding-left: 10px;
  padding-right: 40px;
  padding-top: 3px;
  text-align: center; }
  .head a {
    color: white;
    text-decoration: none; }
  .head h1 {
    display: inline;
    color: white; }
    .head h1 .glyphicon-user {
      font-size: 85%; }

.tabs {
  position: fixed;
  overflow: hidden;
  top: 3em;
  height: 3em;
  width: 100%;
  z-index: 100;
  -webkit-box-shadow: 3px 0px 20px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 3px 0px 20px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 3px 0px 20px 0px rgba(50, 50, 50, 0.5); }
  .tabs a {
    display: block;
    float: left;
    width: 33.3%;
    text-align: center;
    font-size: 132%;
    text-decoration: none;
    border: none;
    padding-top: .3em;
    padding-bottom: .25em; }
    .tabs a .glyphicon {
      font-size: 78%;
      -webkit-transform: translateY(0.1em);
      -moz-transform: translateY(0.1em);
      -o-transform: translateY(0.1em);
      transform: translateY(0.1em);
      color: burlywood; }

a.active {
  border-bottom: 2px solid burlywood; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  height: 250px;
  width: 100%;
  background: none; }

.content-slide {
  margin-top: 6em;
  height: 90%;
  position: relative;
  overflow-y: auto; }

.rearange-this {
  border: 1px solid red;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column; }

.tutorial {
  margin-bottom: 3em; }
  .tutorial .tabs {
    position: initial;
    top: 16em;
    overflow: initial;
    height: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .tutorial .tabs div {
      vertical-align: top;
      display: inline-block;
      width: 25%;
      text-align: center; }
      .tutorial .tabs div:first-child {
        /*this targets the first div's arrow*/
        width: 20%; }
        .tutorial .tabs div:first-child span:first-child {
          -webkit-transform: translateX(-1em) rotate(0);
          -o-transform: translateX(-1em) rotate(0);
          transform: translateX(-1em) rotate(0); }
      .tutorial .tabs div:nth-child(2) span {
        -webkit-transform: translateX(-1em) rotate(-35deg);
        -o-transform: translateX(-1em) rotate(-35deg);
        transform: translateX(-1em) rotate(-35deg); }
      .tutorial .tabs div:nth-child(3) span {
        -webkit-transform: translateX(-1em) rotate(-15deg);
        -o-transform: translateX(-1em) rotate(-15deg);
        transform: translateX(-1em) rotate(-15deg); }
      .tutorial .tabs div:nth-child(4) span {
        -webkit-transform: translateX(-0.3em) rotate(0);
        -o-transform: translateX(-0.3em) rotate(0);
        transform: translateX(-0.3em) rotate(0); }
      .tutorial .tabs div span {
        display: block;
        font-size: 200%; }

.landing {
  padding-right: 1em;
  padding-left: 1em; }

.name-bar {
  display: none; }

#disqus_thread {
  padding: 1em; }

@media screen and (min-width: 699px) {
  body {
    background: white; }

  dd {
    padding-left: 0;
    margin-bottom: 1em;
    -webkit-column-break-inside: avoid;
    -webkit-column-break-before: avoid; }

  dt {
    font-size: 120%;
    font-weight: 400;
    -webkit-column-break-after: avoid; }

  nav {
    width: 30%;
    height: inherit;
    left: 0%;
    z-index: 0;
    padding-top: 0;
    position: relative;
    float: left; }
    nav ul {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-align-content: flex-end;
      align-content: flex-end; }
    nav li {
      flex-basis: 200px;
      height: 220px;
      flex-grow: 1;
      margin: 0.4em; }
      nav li:hover {
        -webkit-box-shadow: 2px 2px 14px 0px rgba(50, 50, 50, 0.6);
        -moz-box-shadow: 2px 2px 14px 0px rgba(50, 50, 50, 0.6);
        box-shadow: 2px 2px 14px 0px rgba(50, 50, 50, 0.6); }
      nav li h2 {
        bottom: 0;
        right: 0;
        position: absolute;
        margin: 0;
        padding: 0.5em;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 135%;
        color: white; }
      nav li:first-child {
        flex-basis: 400px;
        height: 380px; }
        nav li:first-child h2 {
          display: none; }
        nav li:first-child p {
          margin-top: 1.4em;
          font-size: 4em; }

  #svg {
    position: relative; }

  #portrait {
    margin-bottom: 2em; }

  #portrait-receiver {
    float: right;
    width: 45%;
    margin-left: 2em; }

  #interview {
    padding-left: 1em; }

  .highlighted {
    border: 1px solid red;
    color: red; }

  #items {
    margin-bottom: 3em;
    -webkit-column-width: 17em;
    -moz-column-width: 17em;
    -o-column-width: 17em;
    column-width: 17em;
    z-index: 500; }

  .content-block {
    margin-left: 30%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    color: rgba(0, 0, 0, 0.7);
    font-size: 120%; }

  .interview {
    margin-top: 0;
    padding-top: 0; }

  .portrait {
    margin-top: 3em; }

  .kit-grid {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: inherit; }

  .svg-container {
    display: inline-block;
    width: 100%; }

  .person {
    position: relative; }

  .this-item {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    margin: 0;
    padding-top: 0;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0;
    height: initial;
    color: black;
    background-color: rgba(255, 255, 255, 0.9); }
    .this-item p {
      line-height: 1.4em;
      margin-bottom: 1.5em; }
    .this-item h1 {
      font-size: 130%; }

  header {
    display: none; }

  .nav-visible {
    left: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

  .tabs {
    display: none; }

  .swiper-container {
    width: 100%;
    height: 100%;
    margin: 0;
    position: initial;
    overflow: visible;
    z-index: 0; }

  .swiper-slide {
    height: inherit; }

  .content-slide {
    padding: 0em;
    margin-top: 0;
    height: 90%;
    position: relative;
    overflow-y: auto; }

  .kitgrid {
    position: initial;
    overflow: hidden; }

  .kitlist {
    margin-top: 0;
    padding-left: 1em; }

  .name-bar {
    display: block;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em; }
    .name-bar h1 {
      font-family: "Glegoo";
      font-size: 3em;
      padding-left: 0;
      margin: 0; }

  .tutorial {
    display: none; } }

/*# sourceMappingURL=kitgrid.css.map */
