@-ms-viewport {
  /*this supposedly fixes it for win mob 8*/
  width: device-width; }
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
  position: relative; }

body {
  background-color: rgba(0, 0, 0, 0.9);
  font-family: "Roboto";
  font-weight: 300; }

path, rect, circle {
  fill: none;
  stroke: none;
  pointer-events: all; }

path:hover, rect:hover {
  fill: rgba(255, 210, 0, 0.3);
  stroke: #ffd200; }

dd {
  padding-left: 3em;
  widows: 3;
  orphans: 2; }

dt::after {
  content: ": "; }

#svg {
  position: relative; }

#portrait {
  margin-bottom: 2em; }

.highlighted {
  border: 1px solid red;
  color: red; }

#items {
  margin-bottom: 5em;
  -webkit-column-width: 20em;
  -moz-column-width: 20em;
  -o-column-width: 20em;
  column-width: 20em;
  z-index: 500; }

.interview {
  margin-top: 3em;
  padding-top: 2em;
  border-top: 1px solid silver; }

.portrait {
  margin-top: 3em; }

.kit-grid {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit; }

.svg-container {
  display: inline-block;
  width: 100%; }

.person {
  position: relative; }

.this-item {
  position: absolute;
  right: 0;
  top: 0;
  width: 28%;
  padding: 1em;
  padding-top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 0 1.5em; }
  .this-item p {
    line-height: 1.7em; }
  .this-item h1 {
    font-size: 130%; }

.photo-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-top: 3em;
  margin-bottom: 3em; }
  .photo-list .photo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0;
    flex-shrink: 0;
    -webkit-flex-basis: 200px;
    -ms-flex: 0 1 200px;
    flex-basis: 200px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: 200px;
    background-size: cover;
    cursor: pointer; }

@media (orientation: portrait) and (max-width: 700px) {
  header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    margin: 0; }

  nav {
    height: 100%;
    width: 80%;
    background-color: teal;
    position: absolute;
    left: -80%;
    z-index: 500;
    bottom: 0;
    padding-top: 15%;
    overflow-y: auto;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.5);
    transition: all 0.2s ease; }
    nav img {
      width: 100%; }
    nav li {
      width: 90%;
      margin: 5%;
      height: 100px;
      overflow: hidden; }

  .nav-visible {
    left: 0;
    -webkit-box-shadow: 5px 0px 20px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 5px 0px 20px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 5px 0px 20px 0px rgba(50, 50, 50, 0.5); }

  .head {
    height: 6%;
    background-color: brown; }

  .head h1 {
    display: inline;
    color: white; }

  .tabs {
    position: absolute;
    overflow: hidden;
    top: 7%;
    height: 6%;
    width: 100%;
    z-index: 100; }

  .tabs a {
    display: block;
    float: left;
    width: 33.3%;
    color: #333;
    text-align: center;
    background: #fff;
    font-size: 25px;
    font-style: italic;
    text-decoration: none; }

  .tabs a.active {
    color: #fff;
    background: #333;
    border-bottom: 1px solid #000; }

  .swiper-container {
    width: 100%;
    height: 100%; }

  .swiper-slide {
    height: 250px;
    width: 100%;
    background: none;
    color: silver; }

  .content-slide {
    padding: 5%;
    padding-top: 25%;
    height: 100%;
    position: relative;
    overflow-y: auto; }

  .kitgrid {
    height: 45%;
    width: 90%;
    position: absolute;
    bottom: 0; }

  .this-item {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    padding: 0;
    margin-top: 23%;
    border-radius: 0;
    height: 38%;
    /* border: 1px solid red; */
    background-color: transparent; } }

/*# sourceMappingURL=kitgrid.css.map */
